
body {
    overflow-x: hidden;
  }
  .dashboard-container{
    margin-top: 105px;
}
.content{
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 30%;
    height: 200px;
    flex-direction: column;
    border: 1px solid grey
}
@media only screen and (max-width:991px){
  .dashboard-container {
    margin-top: 57px;
}
}