 body{
  overflow-x: hidden;
 }
 .cart-page {
  margin-top: 107px;
}
.cart-page .cart-summary {
  text-align: center;
}
.cart-main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
  color: white;
  height: 100px;
}

.cart-details-container{
  min-height: 80vh;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}
.cart-order-des{
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-around;
} 
.cart-order-des img{
  width: 50px;
  height: 50px;

}
.cart-all-details{
  width: 100%;
  margin-right: 50px;
}
.cart-summary{
  width: 30%;
}
.cart-single-order{
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
  width: 100%;
  padding: 5px;
  height: 80px;
}
.des{
 font-weight: bolder !important;
 font-size: 18px;
 
}
.delete-icon{
  color: red;
}
.delete-icon:hover{
  color: rgb(131, 14, 14);
}
table{
  overflow:scroll;
}
th,td{
  padding: 20px 30px;
}
tr{
  border-bottom: 1px solid rgb(132, 131, 131);
}
@media only screen and (max-width:991px){
  .cart-page{
    margin-top: 57px;
    overflow-x: hidden;
  }
  .cart-all-details{
    width: 100%;
    margin-bottom: 40px;
  }
  .cart-details-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
  }

}
@media only screen and (max-width:768px){
  .cart-single-order{
    height: 122px;
  }
  .cart-order-des img{
    width: 100px;
    height: 100px;
  
  }
  .des{
    font-weight: 100;
    font-size: 12px;
    
   }

}
@media only screen and (max-width: 550px){
.cart-details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.cart-single-order{
  height: 122px;
}
.cart-order-des img{
  width: 100px;
  height: 100px;

}
.des{
  font-weight: 100;
  font-size: 12px;
  
 }
}