.main-category-container{
   display: flex; 
   justify-content: center;
   /* align-items: center; */
   /* text-align: center; */
   flex-direction: row;
   margin-top: 100px;
   /* border: 2px solid red; */
   min-height: 80vh;
   padding: 40px;

}
.main-category-container:hover{
    
}
.single-category{
    padding: 10px 20px;
    margin: 20px;
    background-color: rgb(254, 124, 77);;
   
}
.categories-button{
    color: white !important;
    font-weight: bolder;

}
