.main-category-container{
   display: flex; 
   justify-content: center;
   flex-direction: row;
   margin-top: 100px;
   min-height: 80vh;
   padding: 40px;

}
.single-category{
    padding: 10px 20px;
    margin: 20px;
    background-color:#dc3545;
   
}
.single-category:hover{
    background-color:#a90d1d;
}
.categories-button{
    color: white !important;
    font-weight: bolder;

}
