.similars{
  display: flex;
  justify-content:center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 140px !important;
}

.category .card-text {
  color: rgb(90, 89, 89);
}
.category .card-img-top {
  height: 300px !important;
}


.similars .card {
  background-color: white;
  width: 18rem;
}
.similars .card:hover{
  transition: box-shadow ease-in 0.7s;
  box-shadow: 5px 5px 5px  grey;
}


.similars .card-price {
  color:rgb(255, 127, 21);
  font-size: 16px;
  font-weight: bold;
}

.similars .card-text {
  color: rgb(90, 89, 89);
}


.similars .card-img-top {
  height: 300px !important;
}
.main-container{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-card img{
  width: 125px;
  height: 125px;
}
.card-body{
  width: 100%;
  background-color: rgb(215, 213, 213);
}

p{
  padding-left: 0px;
}
.category-button{
  padding: 7px 10px;
  margin: 4px;
  color: white;
  background-color:#dc3545;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
.category-button:hover{
  background-color:#a90d1d;
}


@media only screen and (max-width:590px){
  .main-container{
    margin-left: 65px;
  }
}
@media only screen and (max-width:410px){
  .main-container{
    margin-left:15px ;
  }
}