.home-page{
  margin-top: 50px;
}
.home-container{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}
.single-image{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
  height: 310px;
  width: 270px;
  /* padding-left: 5px; */
  border: 1px solid rgb(215, 215, 215)
}
.single-image img{
  height: 130px;
  width: 130px;
}
.home-product-description{
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 180px;
  width: 100%;
  background-color: rgb(241, 240, 240);
}
.home-button{
  padding: 7px 10px;
  margin: 4px;
  color: white;
  background-color:#dc3545;
  border: none;
  border-radius: 5px;
  
}
.home-button:hover{
 background-color:#a90d1d;
}
.reset-button{
  margin-top: 10px;
}

.about-us{
  padding: 30px;
  font-size: 18px;

}
.read-more-button{
  margin-left: 30px;
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  background-color: #dc3545;
  color: white;
  font-weight: bolder;
  border: none;
}
.read-more-button:hover{
  background-color:#a90d1d;

}
@media only screen and (max-width: 750px){
  .footer{
    height: 444px;
    width: 100%;
    /* flex-direction: column; */

  }
  .section{
    margin-top: 0px;
  }
  .second-section{
    margin: 0px 10px;
  }
  
}
@media only screen and (max-width: 610px){
  .footer{
    width: 100%;
  }

}

@media only screen and (max-width:550px){
  .footer{
    height: 700px;
    flex-direction: column;
  }
}
@media only screen and (max-width:350px){
  .single-image{
    height: 350px;
  }
  .home-product-description{
    height: 220px;
  }
}