
body{
  overflow-x: hidden;
}
.product-details {
  margin-top: 130px !important;
  margin-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.product-details img{
  height: 300px;
  width: 300px;
}


.product-details-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}



.similar-products .card-price {
  color:rgb(255, 127, 21);
  font-size: 16px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}
.similar-container{
  /* border: 2px solid red; */
  margin-bottom: 20px;
}

.main-card{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  height: 307px;
  width: 270px;
  border: 1px solid rgb(215, 215, 215)

}

.main-card img{
  width: 130px;
  height: 130px;
}
.similar-product-description{
  display: flex;
  align-items:center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 180px;
  width: 100%;
  background-color: rgb(241, 240, 240);

}
.product-button{
  padding: 7px 10px;
  margin: 4px;
  color: white;
  background-color:#dc3545;
  border: none;
  border-radius: 5px;
}

.product-button:hover{
  background-color:#a90d1d;
 }
.add-cart-button{
  padding: 7px 10px;
  margin: 4px;
  color: white;
  background-color:#dc3545;
  border: none;
  border-radius: 5px;
}
.add-cart-button:hover{
  background-color:#a90d1d;
}
.price{
  color:rgb(255, 127, 21) ;
}
@media only screen and (max-width:770px){
  .product-details-info{
    margin-left: 46px;
  }
}
@media only screen and (max-width:670px){
  .product-details{
    margin-left: 50px;
  }

}
@media only screen and (max-width:620px){
  .product-details{
    margin-left: 0px;
  }
}
@media only screen and (max-width:350px){
  .product-details-info{
    margin-left: 111px;
  
  }
.product-details {
    margin-left: -45px;
}
}
@media only screen and (max-width: 260px){
.product-details-info {
    margin-left: 32px;
}
.product-details img {
  height: 215px;
  width: 215px;
}
}