.search-input{
    width: 25vw;
    border-radius: 25px;
    background-color: rgb(214, 214, 214);
    border-radius: 25px;

}
.search-form button{
    background-color:#dc3545 !important;

}
@media only screen and (max-width:991px){
    .search-input{
        width: 40vw;
    }
}
@media only screen and (max-width:550px){
    .search-input{
        width: 55vw;
    }
}
@media only screen and (max-width:260px){
    .search-input{
        width: 75vw;
    }
}