.update-product-container{
    margin-top:105px;
}
.update-product-main-container{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.update-form-container{
    width: 60%;
}
.update-button{
    color:black;
    background-color: grey;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bolder;
}
.del-button{
    color: black;
    background-color: grey;
    border: none;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: bolder;

}