.user-menu{
    /* border-bottom: 2px solid rgb(255, 0, 0); */
    background-color: grey;
    /* color:white; */
    height:90vh;
    width:100%;
    
}
.user-links{
    color:white;
   border-bottom:1px solid rgb(71, 71, 71); 
   margin:10px;
}
.user-links:hover{
    color:black;
}
@media only screen and (max-width:550px){
    .user-menu{
        height: 20vh;
    }
}